<header>
  <div class="container">
    <h1>{{blogs.BlogTitle}}</h1>
    <p><small>By <em>{{blogs.BlogUserName}}</em> | Date: <em>{{blogs.BlogCreatedDate}}</em></small></p>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12 m-auto">
      <img src={{blogs.BlogImagePath}} class="img--align-left" width="100%" style="height:65vh" />
    </div>
    <div class="col-md-8 col-sm-10 col-12 m-auto">
      <p class="pr-2">{{blogs.BlogContent}}</p>
    </div>
  </div>
</div>