<div class="row">
    <div class="col-md-3 col-sm-12 ml-auto ">
        <mat-form-field>
            <mat-label>{{ 'Search' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText">
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>{{ 'Team Member No' | translate }}</th>
                    <th>{{ 'Team Member Name' | translate }}</th>
                    <th>{{ 'Team Member Title' | translate }}</th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teamMember of teamMembers| filter:searchText | paginate: paginationConfig">
                    <td>{{ teamMember.TeamMemberID }}</td>
                    <td>{{ teamMember.TeamMemberName }}</td>
                    <th>{{ teamMember.TeamMemberTitle}}</th>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="list-menu">more_vert</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                          
                            <a mat-menu-item (click)="teamMemberDelete(teamMember.TeamMemberID)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-pagination [config]="paginationConfig"></app-pagination>