<div class="container">
    <div class="row projects__padding">
        <div class="col-12 d-flex align-items-stretch" *ngFor="let project of projects">
            <div class="card bg-light card-outline card-primary w-100">
                <div class="card-header" style="height: auto;">
                    <h2> {{ project.ProjectName }} </h2>
                </div>
                <div class="card-body pt-0 row col-12">
                    <div [innerHTML]="project.ProjectDescription">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>