$main-blue: #007bff;

body {
  padding-top: 5rem;
  min-height: 75rem;
}
.New,.new,.NEW{
  background-color: crimson!important;
}
a,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease 0s;
}
.div-content{
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blog_area {
  .card {
    border-radius: 0.25rem;
    overflow: hidden;
    background: #fff;
    transition: all ease-in-out 0.3s;
    border: 0px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 0 1em 0;

    &:hover {
      box-shadow: 0.1rem 1rem 2rem rgba(0, 0, 0, 0.12),
        -0.1rem 0 2rem rgba(0, 0, 0, 0.12);
    }

    .card__img {
      position: relative;
      overflow: hidden;

      &:hover {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }

      &:hover img {
        transform: scale(1.2);
      }

      & img {
        transition: all 1s ease 0s;
        width: 100%;
      }
    }

    .card__date {
      background: black;
      color: #fff;
      font-size: 14px;
      padding: 5px 10px;
      position: absolute;
      top: 0;
      left: 0;

      font-weight: bold;
      opacity: 0.7;
      transition: opacity 0.25s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .cards{
      height: 300px!important;
    }
    .card__content {
      margin: 5px 20px;
      padding-bottom: 15px;
      height: 230px;
      .card__title {
        text-transform: uppercase;
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
      }

      h3 {
        font-size: 17px;
      }
      h4 {
        font-weight: bold;
        font-style: italic;
        font-size: 17px;
      }

      .card__content-jcenter {
        text-align: justify;
        text-indent: 1rem;
      }

      & span > a {
        color: #fff;
        font-size: 14px;
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 15px;
        font-weight: bold;
        background: $main-blue;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.img-fluid {
  height: 200px;
}
