<div class="container">
  <section id="blog_area" class="pt-5">
    <div id="masonry">
      <div class="card">
        <div class="card__img">
          <a href="#">
            <img
              class="img-fluid"
              src="https://picsum.photos/500/200/?random"
              alt="Image 1"
            />
          </a>
          <div class="ribbon-wrapper">
            <div class="ribbon bg-primary">Blog</div>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">Card 1 Title</h3>
          <p class="card__content-jcenter">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lorem massa, facilisis et dictum non, suscipit ac felis. Aenean
            condimentum ante id urna lobortis, vel venenatis sem convallis.
            Vestibulum ac fermentum risus, in varius risus. Duis non dolor
            porta, condimentum leo sit amet, posuere felis. In dui ex, interdum
            sed eleifend vulputate, laoreet eu justo. Aliquam porttitor purus et
            velit facilisis fringilla. Curabitur lectus nibh, vulputate at diam
            id, pretium ultrices arcu. In vitae sem enim.
          </p>
          <h4>Lorem Ipsum</h4>
          <span>
            <a href="#">Read more</a>
          </span>
        </div>
        <div class="card__date">
          <span>03 Jan 2020</span>
        </div>
      </div>

      <div class="card">
        <div class="card__img">
          <a href="#">
            <img
              class="img-fluid"
              src="https://picsum.photos/501/250/?random"
              alt="Image 1"
            />
          </a>
          <div class="ribbon-wrapper">
            <div class="ribbon bg-primary">Blog</div>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">Card 2 Title</h3>
          <p class="card__content-jcenter">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lorem massa, facilisis et dictum non, suscipit ac felis. Aenean
            condimentum ante id urna lobortis, vel venenatis sem convallis.
            Vestibulum ac fermentum risus, in varius risus. Duis non dolor
            porta, condimentum leo sit amet, posuere felis. In dui ex, interdum
            sed eleifend vulputate, laoreet eu justo. Aliquam porttitor purus et
            velit facilisis fringilla. Curabitur lectus nibh, vulputate at diam
            id, pretium ultrices arcu. In vitae sem enim.
          </p>
          <h4>Lorem Ipsum</h4>
          <span>
            <a href="#">Read more</a>
          </span>
        </div>
        <div class="card__date">
          <span>03 Jan 2020</span>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <a href="#">
            <img
              class="img-fluid"
              src="https://picsum.photos/505/225/?random"
              alt="Image 1"
            />
          </a>
          <div class="ribbon-wrapper">
            <div class="ribbon bg-primary">Blog</div>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">Card 3 Title</h3>
          <p class="card__content-jcenter">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lorem massa, facilisis et dictum non, suscipit ac felis. Aenean
            condimentum ante id urna lobortis, vel venenatis sem convallis.
            Vestibulum ac fermentum risus, in varius risus. Duis non dolor
            porta, condimentum leo sit amet, posuere felis. In dui ex, interdum
            sed eleifend vulputate, laoreet eu justo. Aliquam porttitor purus et
            velit facilisis fringilla. Curabitur lectus nibh, vulputate at diam
            id, pretium ultrices arcu. In vitae sem enim.
          </p>
          <h4>Lorem Ipsum</h4>
          <span>
            <a href="#">Read more</a>
          </span>
        </div>
        <div class="card__date">
          <span>03 Jan 2020</span>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <a href="#">
            <img
              class="img-fluid"
              src="https://picsum.photos/500/230/?random"
              alt="Image 1"
            />
          </a>
          <div class="ribbon-wrapper">
            <div class="ribbon bg-primary">Blog</div>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">Card 4 Title</h3>
          <p class="card__content-jcenter">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lorem massa, facilisis et dictum non, suscipit ac felis. Aenean
            condimentum ante id urna lobortis, vel venenatis sem convallis.
            Vestibulum ac fermentum risus, in varius risus. Duis non dolor
            porta, condimentum leo sit amet, posuere felis. In dui ex, interdum
            sed eleifend vulputate, laoreet eu justo. Aliquam porttitor purus et
            velit facilisis fringilla. Curabitur lectus nibh, vulputate at diam
            id, pretium ultrices arcu. In vitae sem enim.
          </p>
          <h4>Lorem Ipsum</h4>
          <span>
            <a href="#">Read more</a>
          </span>
          <div class="card__date">
            <span>03 Jan 2020</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <a href="#">
            <img
              class="img-fluid"
              src="assets/images/software2.jpg"
              alt="Image 1"
            />
          </a>
          <div class="ribbon-wrapper">
            <div class="ribbon bg-primary">Blog</div>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">Card 5 Title</h3>
          <p class="card__content-jcenter">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lorem massa, facilisis et dictum non, suscipit ac felis. Aenean
            condimentum ante id urna lobortis, vel venenatis sem convallis.
            Vestibulum ac fermentum risus, in varius risus. Duis non dolor
            porta, condimentum leo sit amet, posuere felis. In dui ex, interdum
            sed eleifend vulputate, laoreet eu justo. Aliquam porttitor purus et
            velit facilisis fringilla. Curabitur lectus nibh, vulputate at diam
            id, pretium ultrices arcu. In vitae sem enim.
          </p>
          <h4>Lorem Ipsum</h4>
          <span>
            <a href="#">Read more</a>
          </span>
        </div>
        <div class="card__date">
          <span>03 Jan 2020</span>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <a href="#">
            <img
              class="img-fluid"
              src="https://picsum.photos/600/400/?random"
              alt="Image 1"
            />
          </a>
          <div class="ribbon-wrapper">
            <div class="ribbon bg-primary">Blog</div>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">Card 6 Title</h3>
          <p class="card__content-jcenter">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lorem massa, facilisis et dictum non, suscipit ac felis. Aenean
            condimentum ante id urna lobortis, vel venenatis sem convallis.
            Vestibulum ac fermentum risus, in varius risus. Duis non dolor
            porta, condimentum leo sit amet, posuere felis. In dui ex, interdum
            sed eleifend vulputate, laoreet eu justo. Aliquam porttitor purus et
            velit facilisis fringilla. Curabitur lectus nibh, vulputate at diam
            id, pretium ultrices arcu. In vitae sem enim.
          </p>
          <h4>Lorem Ipsum</h4>
          <span>
            <a href="#">Read more</a>
          </span>

          <div class="card__date">
            <span>03 Jan 2020</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
