<div class="container">
  <section id="blog_area" class="pt-5">
    <div id="masonry">
      <div class="card" style="max-height: 600px;" *ngFor="let blog of blogs">
        <div class="card__img">
          <a href="#">
            <img class="img-fluid" src={{blog.BlogImagePath}}/>
          </a>
          <div class="ribbon-wrapper">
            <div class="ribbon bg-primary">Blog</div>
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__title">{{blog.BlogTitle}}</h3>
          <p class="card__content-jcenter">
            {{blog.BlogDescription}}
          </p>
          <h4>{{blog.UserNameSurname}}</h4>
          <span>
            <a href="#">Read more</a>
          </span>
        </div>
        <div class="card__date">
          <span>{{blog.BlogCreatedDate}}</span>
        </div>
      </div>
    </div>
  </section>
</div>
