<div class="wrap-contact100">
    <form class="contact100-form validate-form">
        <span class="contact100-form-title">
            Send Us A Message
        </span>


        <div class="wrap-input100" >
            <label class="label-input100" >Full name</label>
            <input class="input100" type="text" name="name" placeholder="Enter your name...">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100">
            <label class="label-input100" >Mail Subject</label>
            <input  class="input100" type="text" name="name" placeholder="Enter your mail subject...">
            <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100">
            <label class="label-input100" >Email Address</label>
            <input class="input100" type="text" name="email" placeholder="Enter your email...">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100">
            <label class="label-input100" >Phone</label>
            <input class="input100" type="text" name="phone" placeholder="Enter your phone...">
            <span class="focus-input100"></span>
        </div>
        
        <div class="wrap-input100" >
            <label class="label-input100" >Message</label>
            <textarea class="input100" name="message" placeholder="Type your message here..."></textarea>
            <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
                Send
            </button>
        </div>
    </form>
    <div class="contact100-more flex-col-c-m" style="background-image: url('../../../../assets/contact/bg-01.jpg')">
    </div>
</div>
