/*==================================================================
  [ Contact more ]*/
  * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}
html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}
input {
	outline: none;
	border: none;
	&:focus {
		border-color: transparent !important;
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
	}
	&::-webkit-input-placeholder {
		color: #adadad;
	}
	&:-moz-placeholder {
		color: #adadad;
	}
	&::-moz-placeholder {
		color: #adadad;
	}
	&:-ms-input-placeholder {
		color: #adadad;
	}
}
textarea {
	outline: none;
	border: none;
	&:focus {
		border-color: transparent !important;
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
	}
	&::-webkit-input-placeholder {
		color: #adadad;
	}
	&:-moz-placeholder {
		color: #adadad;
	}
	&::-moz-placeholder {
		color: #adadad;
	}
	&:-ms-input-placeholder {
		color: #adadad;
	}
}
label {
	display: block;
	margin: 0;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
	&:hover {
		cursor: pointer;
	}
}
iframe {
	border: none !important;
}
.container-contact100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #f2f2f2;
}
.wrap-contact100 {
	width: 100%;
	background: #fff;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: row-reverse;
}
.contact100-more {
	width: calc(100% - 560px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	padding: 30px 15px 0px 15px;
	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.1);
	}
}
.contact100-form {
	width: 560px;
	min-height: 100vh;
	display: block;
	padding: 50px 55px 55px 55px;
}
.contact100-form-title {
	width: 100%;
	display: block;
	font-family: Poppins-Regular;
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 48px;
}
.wrap-input100 {
	width: 100%;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	margin-bottom: 20px;
}
.label-input100 {
	font-family: Montserrat-SemiBold;
	font-size: 11px;
	color: #666666;
	line-height: 1.2;
	text-transform: uppercase;
	padding: 15px 0 2px 24px;
}
.input100 {
	display: block;
	width: 100%;
	background: transparent;
	font-family: Montserrat-Regular;
	font-size: 18px;
	color: #404b46;
	line-height: 1.2;
	padding: 0 26px;
	&:focus {
		+ {
			.focus-input100 {
				visibility: visible;
				opacity: 1;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}
		}
	}
}
input.input100 {
	height: 30px;
}
textarea.input100 {
	min-height: 130px;
	padding-top: 14px;
	padding-bottom: 15px;
}
.focus-input100 {
	position: absolute;
	display: block;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	top: -1px;
	left: -1px;
	pointer-events: none;
	border: 1px solid #6675df;
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: scaleX(1.1) scaleY(1.3);
	-moz-transform: scaleX(1.1) scaleY(1.3);
	-ms-transform: scaleX(1.1) scaleY(1.3);
	-o-transform: scaleX(1.1) scaleY(1.3);
	transform: scaleX(1.1) scaleY(1.3);
}
.eff-focus-selection {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.container-contact100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
}
.contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background: #6675df;
	font-family: Montserrat-Bold;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	&:hover {
		background: #404b46;
	}
}
@media (max-width: 992px) {
	.contact100-form {
		width: 50%;
		padding: 110px 30px 55px 30px;
	}
	.contact100-more {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.contact100-form {
		width: 100%;
	}
	.contact100-more {
		display: none;
	}
}
@media (max-width: 576px) {
	.contact100-form {
		padding: 110px 15px 55px 15px;
	}
}
