<!-- <div class="banner">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-lg-12 text-center">
                <p class="banner__text banner__title">Junior Software Engineers</p>
                <small class="banner__text banner__subTitle">Manisa Celal Bayar University</small>
            </div>
        </div>
    </div>
</div> -->

<div class="banner" style="position: relative;">
    <div class="container-fuild">
        <div class="row col-12 banner__content">
            <div class="col-6 text-left">
                <small class="banner__text banner__title">Junior Software Engineers</small>
            </div>
            <div class="col-6 text-right">
                <small class="banner__text banner__title">Manisa Celal Bayar University</small>
            </div>
        </div>
    </div>
</div>