<div class="banner" style="position: relative;">
    <div class="container-fuild">
        <div class="row col-12 banner__content">
            <div class="col-6 text-left">
                <small class="banner__text banner__title">{{ 'Junior Software Engineers' | translate }}</small>
            </div>
            <div class="col-6 text-right">
                <small class="banner__text banner__title">{{ 'Manisa Celal Bayar University' | translate }}</small>
            </div>
        </div>
    </div>
</div>